* {
    background-color: rgb(50, 50, 50);
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/35405017_2065145543538265_7500761732189519872_o.jpg?_nc_cat=105&_nc_ht=scontent-sea1-1.xx&oh=829f790b05176910fa8a2e32b8665c3e&oe=5D2B5884");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-size: 110%;
    position: relative;
}
header {
    background-color: rgb(0, 0, 0, 0);
    text-align: center;
}
h1 {
    background-color:rgb(0, 0, 0, 0); 
    display: inline-block;
    font-size: 2.5em;
    padding: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
}
nav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    text-align: center;
}
nav ul li {
    background-color: rgb(255, 255, 255);
    float: left;
    list-style-type: none;
    padding: 10px;
    margin-top: -18px;
    margin-bottom: -2px;
    margin-left: -28px;
}
nav ul li a {
    background-color: rgb(255, 255, 255);
    color: black;
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0px;   
}
nav ul li a:hover {
    border: 2px solid black; 
    padding: 2px;
   
    margin-bottom: -4px;
    margin-top: -4px;
    margin-left: 1.75em;
    margin-right: 1.75em;
}
main {
    display: block;
    overflow: hidden;
    position: relative;
    min-height: 89vh;
}
aside {
    float: left;
    margin: 0 1.5%;
    overflow: hidden;
    width: 30%;   
}
aside img {
    height: 600px;
    margin-top: -14px;
    margin-bottom: -2px;
}
section {
    float: right;
    margin: 0 1.5%;
    width: 63%;
}
article {
    background-color: rgb(25, 25, 25);
    height: 535px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -20px;
    overflow-y: scroll;
}
h2 {
    background-color: rgb(25, 25, 25);
    text-align: center;
}
article ul {
    background-color: rgb(25, 25, 25);
    padding: 0px;
    margin-top: -15px;
    margin-left: 40px;
    margin-right: 40px;
}
article ul li {
    background-color: rgb(25, 25, 25);
    padding: 10px;
}
article ol {
    background-color: rgb(25, 25, 25);
    padding: 0px;
    margin-top: -15px;
    margin-left: 40px;
    margin-right: 40px;
}
article ol li {
    background-color: rgb(25, 25, 25);
    padding: 10px;
}
#subfooter {
    background-color: rgb(255, 255, 255);
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 37px;
    text-align: center;
}
#copyright {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}
footer {
    background-color: rgb(194, 104, 2, 0);
    display: block;
}
#buttonarea {
    background-color: rgb(25, 25, 25, 0);
    text-align: center;
    padding: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#button {
    background-color: rgb(196, 39, 0);
    border: none;
    font-size: 1em;
    font-weight: bold;
    height: 60px;
    width: 200px;
    transition: 0.4s;
}
#button:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
};